.completed {
  background-color: rgb(28, 235, 166);
}
/* .sideBarList {
  background-color: rgb(143, 108, 206);
} */
/* .tablehead {
  background-color: rgb(212, 214, 208);
}
.tablebody {
  background-color: rgb(240, 243, 236);
}
 */
